table .skillCol1 {
    width: 14%
}
table .skillCol2 {
    width: 36%
}
table .skillCol3 {
    width: 24%
}
table .skillCol4 {
    width: 26%
}

table .playerCol1 {
    width: 26%
}
table .playerCol2 {
    width: 14%
}
table .playerCol3 {
    width: 36%
}
table .playerCol4 {
    width: 24%
}

table a {
    width: 100%;
    height: 100%;
    display: block;
}
table a:hover {
    text-decoration: none;
}
.skillIcon {
    max-width: 20px;
    max-height: 20px;
}
#skill-icons-table {
    display: none;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif;
}
.panel-title {
    text-transform: uppercase;
}

ul.pagination {
    margin: 10px 0;
}

/* These media quires are for compare page. */
@media screen and (min-width: 768px) and (max-width: 992px) {
    #skill-icon {
        display: none;
    }
    #skill-names-table {
        display: none;
    }
    #skill-icons-table {
        max-height: 20px;
        display: block;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    #skill-icon-compare {
        display: none;
    }
}