<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    {% if search_form %}
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Search by name</h3></div>
            <div class="panel-body">
                <form>
                    <input type="hidden" name="page" value="{{ results.number }}">
                    {% if search_form.search.errors %}
                        <div class="form-group has-error">
                    {% else %}
                        <div class="form-group">
                    {% endif %}
                    {{ search_form.search.errors|striptags }}
                    {{ search_form.search }}
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Search</button>
                </form>
            </div>
        </div>
    {% endif %}

    {% if rank_form %}
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Search by rank</h3></div>
            <div class="panel-body">
                <form>
                    <input type="hidden" name="page" value="{{ results.number }}">
                    {{ rank_form.skill_exp }}
                    {% if rank_form.search_rank.errors %}
                        <div class="form-group has-error">
                    {% else %}
                        <div class="form-group">
                    {% endif %}
                    {{ rank_form.search_rank.errors|striptags }}
                    {{ rank_form.search_rank }}
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Search</button>
                </form>
            </div>
        </div>
    {% endif %}

    {% if compare_form %}
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Compare</h3></div>
            <div class="panel-body">
                <form>
                    <input type="hidden" name="page" value="{{ results.number }}">
                    {% for field in compare_form %}
                        {% if field.errors %}
                            <div class="form-group has-error">
                        {% else %}
                            <div class="form-group">
                        {% endif %}
                    {{ field.errors|striptags }}
                    {{ field }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-success btn-block">Compare</button>
                </form>
            </div>
        </div>
    {% endif %}
</div>