{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}

{% block title %}
    {{ player.user_name }}'s Hiscores
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'hiscores/css/custom.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title text-center">
                Category
            </h3>
        </div>
        <table class="table table-hover table-striped table-bordered" style="margin-top:0;">
            <thread>
                <tr>
                    <th class="col3 text-center">Skill</th>
                </tr>
            </thread>
            <tbody>
            {% for skill in skills %}
            <tr>
                <td class="text-center">
                    <a href="{% url 'skill' skill %}">
                        <img class="skillIcon" src="/static/hiscores/img/{{ skill }}.png"
                             alt="{{ skill }}"
                             title="{{ skill }}"
                             style="float:left;"/>
                        {{ skill|title }}
                        <img class="skillIcon" src="/static/hiscores/img/{{ skill }}.png"
                             alt="{{ skill }}"
                             title="{{ skill }}"
                             style="float:right"/>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ player.user_name }}
            </h3>
        </div>
        <table class="table table-hover table-striped table-bordered" style="margin-top:0;">
            <thread>
                <tr>
                    <th class="playerCol2 text-center">Rank</th>
                    <th class="playerCol3 text-center">Total Experience</th>
                    <th class="playerCol4 text-center">Level</th>
                </tr>
            </thread>
            <tbody>
            {% for skill in player.get_skills %}
            <tr>
                <td class="playerCol2 text-center">
                    <a href="{% url 'skill' skill.name|lower %}?rank={{ skill.rank }}">{{ skill.rank|intcomma }}</a>
                </td>
                <td class="playerCol3 text-center">
                    <a href="{% url 'skill' skill.name|lower %}?rank={{ skill.rank }}">{{ skill.exp|intcomma }}</a>
                </td>
                <td class="playerCol4 text-center">
                    <a href="{% url 'skill' skill.name|lower %}?rank={{ skill.rank }}">{{ skill.level|intcomma }}</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Need to decide what else I can show here -->
<div class="col-sm-12 col-md-1">
</div>
{% include "hiscores/forms.html" %}
{% endblock content %}