{% extends 'hiscores/base.html' %}
{% load hiscores_tags %}
{% load humanize %}
{% load staticfiles %}

{% block content %}
<div class="col-sm-9 col-md-5">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="/hiscores/player/{{player1_username}}">{{ player1_username }}</a>
            </h3>
        </div>
        <table class="table table-hover table-striped table-bordered">
            <thread>
                <tr>
                    <th class="col1 text-left">Rank</th>
                    <th class="col4 text-left">Total Experience</th>
                    <th class="col3 text-left">Level</th>
                </tr>
            </thread>
            <tbody>
            {% for skill in player1_skills %}
            <tr>
                <td  class="col1 text-left">
                    <a href="">{{ skill.rank|intcomma }}</a>
                </td>
                {% if skill.exp > player2_skills|get_exp:forloop.counter0 %}
                <td class="col4 text-left success">
                {% elif skill.exp < player2_skills|get_exp:forloop.counter0%}
                <td class="col4 text-left danger">
                {% else %}
                <td class="col4 text-left">
                {% endif %}
                    <a href="">{{ skill.exp|intcomma }}</a>
                </td>
                <td class="col3 text-left">
                    <a href="">{{ skill.level|intcomma }}</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div class="col-md-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title text-center">
                VS
            </h3>
        </div>
        <table class="table table-hover table-striped table-bordered">
            <thread>
                <tr>
                    <th class="col3 text-center">Skill</th>
                </tr>
            </thread>
            <tbody>
            {% for skill in skills %}
            <tr>
                <td class="text-center">
                    <a href="/hiscores/{{ skill }}">
                        <img class="skillIcon" src="/static/hiscores/img/{{ skill }}.png"
                             alt="{{ skill }}"
                             title="{{ skill }}"
                             style="float:left;"/>
                        {{ skill|title }}
                        <img class="skillIcon" src="/static/hiscores/img/{{ skill }}.png"
                             alt="{{ skill }}"
                             title="{{ skill }}"
                             style="float:right"/>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div class="col-sm-9 col-md-5">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title text-right">
                <a href="/hiscores/player/{{player2_username}}">{{ player2_username }}</a>
            </h3>
        </div>
        <table class="table table-hover table-striped table-bordered">
            <thread>
                <tr>
                    <th class="col3 text-right">Level</th>
                    <th class="col4 text-right">Total Experience</th>
                    <th class="col1 text-right">Rank</th>
                </tr>
            </thread>
            <tbody>
            {% for skill in player2_skills %}
            <tr>
                <td class="col3 text-right">
                    <a href="/hiscores/{{ skill.name }}">{{ skill.level|intcomma }}</a>
                </td>
                {% if skill.exp > player1_skills|get_exp:forloop.counter0 %}
                <td class="col4 text-right success">
                {% elif skill.exp < player1_skills|get_exp:forloop.counter0%}
                <td class="col4 text-right danger">
                {% else %}
                <td class="col4 text-right">
                {% endif %}
                    <a href="/hiscores/{{ skill.name }}">{{ skill.exp|intcomma }}</a>
                </td>
                <td class="col1 text-right">
                    <a href="/hiscores/{{ skill.name }}">{{ skill.rank|intcomma }}</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
{% block forms %}
{% endblock %}
